* {
  margin: 0;
  padding: 0; 
  border: 0;
}


body {
  background-color: rgb(222, 230, 228);
}

.trybewarts-header-logo {
  height: 50px;
}

#trybewarts-header-title {
  color: white;
}

header {
  background-color: rgb(50, 167, 145);
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 30px;
}

.trybewarts-login {
  height: 40px;
  display: flex;
}

#email #password {
  padding: 0 5px;
  border-right: 1px solid rgb(50, 167, 145);
}

.trybewarts-login button {
  padding: 0 20px;
  border: 1px solid white;
  background-color: rgb(186, 226, 219);
  color: rgb(52, 58, 64);
}

.trybewarts-login button:hover {
  transition: 1s;
  background-color: rgb(26, 90, 78);
  color: white;
}

main {
  margin: 120px 80px;
  display: flex;
  justify-content: space-around;
}

#evaluation-form {
  width: 675px;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  box-sizing: border-box;
}

#evaluation-form h1 {
  text-align: center;
  margin-bottom: 15px;
}

#trybewarts-forms-logo {
  height: 500px;
}

#flex-container {
  display: flex;
  flex-direction: row;
}

.containerA {
  margin-bottom: 15px;
}

.containerA input {
  width: 300px;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid rgb(206, 214, 212);
}

.containerA select {
  padding: 10px;
  background-color: white;
  border: 1px solid rgb(206, 214, 212);
  color: rgb(117, 117, 117);
  width: 270px;
}

.containerA .select {
  text-decoration: underline overline rgb(50, 167, 145) 2px;
}

.containerB {
  margin-bottom: 15px;
}

#label-family {
  text-decoration: underline overline rgb(50, 167, 145) 2px;
  padding: 5px 0;
}

#radios {
  width: 50%;
  display: flex;
  flex-direction: column;
}

#label-content {
  text-decoration: underline overline rgb(50, 167, 145) 2px;
  padding: 5px 0;
}

#checkboxs {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.check {
  margin: 0 10px;
}

#caixinhas {
  display: flex;
  flex-wrap: wrap;
}

#label-rate {
  text-decoration: underline overline rgb(50, 167, 145) 2px;
  margin-right: 20px;
}

#flex-row {
  display: flex;
  flex-direction: row;
}

.rates {
  margin: 0 5px;
}

.textarea {
  text-decoration: underline overline rgb(50, 167, 145) 2px;
  padding: 5px 0;
}

textarea {
  padding: 8px;
  border: 1px solid rgb(206, 214, 212);
}

#comentario {
  display: flex;
  flex-direction: column;
}

#label-infos {
  text-decoration: underline overline rgb(50, 167, 145) 2px;
}

#submit-btn {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  border: 1px solid white;
  background-color: rgb(50, 167, 145);
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-transform: lowercase;
}

#submit-btn:hover {
  transition: 1s;
  background-color: rgb(26, 90, 78);
}

footer {
  background-color: rgb(50, 167, 145);
  padding: 10px 0;
  text-align: center;
  color: white;
}
